<ListView *ngIf="timers$ | async; let timers" [items]="timers" iosEstimatedRowHeight="50">
  <ng-template let-timer="item">
    <Label
      [id]="'i' + timer.id"
      class="list-item"
      [nsRouterLink]="[timer.id]"
      [borderTopWidth]="timer.id === 1 ? 1 : 0"
      [text]="timer.id + ' ' + timer.description"
    ></Label>
  </ng-template>
</ListView>
<Button text="Timer hinzufügen" (onTap)="addTimer()"></Button>
<!--<Button text="Timer hinzufügen" nsRouterLink="2" ></Button>-->
<StackLayout> <Label [text]="output"></Label> </StackLayout>
