
{
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "trailingComma": "none"
}
