GridLayout(rows='auto, *', ios:class='auth-container', android:class='auth-container pull-up')
  StackLayout.logo-container(row='0')
    Image(src='res://rpslogo', stretch='aspectFit')
  StackLayout(row='1')
    router-outlet
