StackLayout
  ListView(*ngif='presettings', [items]='presettings', iosEstimatedRowHeight='50')
    ng-template(let-presetting='item')
      Label.list-item(
        [id]='"i" + presetting.id',
        [nsRouterLink]='[presetting.id]',
        [borderTopWidth]='presetting.id === 1 ? 1 : 0',
        [text]='presetting.id + " " + presetting.description'
      )
    Button(text='TimerPresetting hinzufügen', nsRouterLink='add')
