GridLayout.backlog-container(rows='*, 60')
  GridLayout.list-container(row='0')
    pt-list([items]='items$ | async', (listItemSelected)='selectListItem($event)')
  StackLayout.btn-add-wrapper(row='1')
    Button.btn-add(text='Add', (tap)='onAddTap($event)')
