GridLayout.li-wrapper(rows='60', columns='10, 50,  *, 100')
  StackLayout.li-indicator(row='0', col='0')
    Label([class]='getIndicatorClass(item)')
  GridLayout.li-avatar(col='1')
    Image(*ngIf='item.assignee', [src]='item.assignee.avatar', stretch='aspectFit')
  StackLayout.li-info-wrapper(col='2')
    Label.li-title(textWrap='true', [text]='item.title')
    Label.li-estimate([text]='"estimate: " + item.estimate')
  StackLayout(col='3')
    Label.li-date([text]='item.dateCreated | date')
