FlexboxLayout.menu-wrapper
  Button((tap)='onSelectPresetTap("my")', text='MY ITEMS')
  Button((tap)='onSelectPresetTap("open")', text='OPEN ITEMS')
  Button((tap)='onSelectPresetTap("closed")', text='FINISHED ITEMS')
  Button((tap)='onSettingsTap()', text='SETTINGS')
