Label {
    height: 50;
    width: 50;
    margin-right: 10;
}

StackLayout {
    // border: 5 solid green;
    border-color: green;
    border-width: 5;
    padding: 10;
}

#i1 {
    background: orange;
}

#i2 {
    background: green;
}

#i3 {
    background: purple;
}
